@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  margin-right: 20px;
}

.TodoWrapper {
  background: #313131;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  width: 120%;
  height: 50%;
}

.TodoWrapper .todo-btn{
  display: flex;

}

.TodoForm {
  width: 100%;
  
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #999999;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 90%;
  height: 90%;
  color: #fff;

}

.todo-input::placeholder {
  color: #ffffff4d;

}

.todo-btn {
  background: #999999;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer; 
  transition: all 0.3s ease;
}

.todo-btn:hover{
  background: #222222;

}




.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222222;
  color: #fff;
  margin: 10px;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 340px;
  overflow: hidden;
  height: 100px;
}


.Todo p{
  width: 290px;
  overflow: hidden;
}

.iconTodo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40px;
}

.fa-pen-to-square{
  margin-bottom: 10px;
}


.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
 